@import './_variables2';
@import './roomContainer';
@import './profile';
@import './login';
@import './room';
@import './activeRooms.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $background-color-light;
}
button:hover {
    background-color: lighten($accent-color, 20%);
}

.warning, #delete-room-btn {
  color: $warning-color;
}

#root, .app-container, #dashboard, #settings-container {
  height: 100%;
}

#login-details-container {
  height: 100%;
  min-width: 30%;
  width: 30%;
  max-width: 400px;
}

#dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(white 20%, transparent 20%);
  background-color: transparent;
  background-position: 30px;
  background-size: 15px 15px;
  height: auto;
  width: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: $background-color;
  height: 50px;
  border-bottom: 1px solid $accent-color-light;
}

.main-nav-btns {
 margin-left: auto;
 padding-right: 1em;
 font-family: 'Kalam', cursive;
}

.logout-btn {
  margin: 0 5px;
}

.profile.btn {
  font-family: 'Kalam', cursive;
}

#profile-link {
  color: black;
  font-family: 'Kalam', cursive;
}

.logo {
  font-family: 'Rubik', sans-serif;
  font-size: 34px;
  font-weight: 400;
  padding: 15px;
  margin-left: 40px;
  color: black;
  span {
    font-weight: 300;
  }
  p{
    justify-items: center;
  }
}

#logo-container {
  float: center;
}

#logout-link {
  color: $warning-color;
  text-align: right;
  font-family: 'Kalam', cursive;
  // flex: 1;
  // justify-self: end;
}

#login-text {
  text-align: center;
};

#main-container {
  flex: 1;
  display: flex;
}

#SettingsMenu {
  padding: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 20px;
  width: 500px;
}